.container-login {
  width: 450px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.logotipo {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 40px;
}

.btn-entrar {
  margin-top: 15px;
}

.btn-cadastrar {
  margin-top: 20px;
}
