.logomarca {
  width: 200px;
  border-radius: 10px;
}

.cidade {
  margin-top: 50px;
  margin-left: 20px;
}

.container-lista {
  border: 1px solid rgba(128, 128, 128, 0.526);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.btn {
  margin-top: 20px;
  margin-left: 20px;
}

.adicionar {
  margin-top: 10px;
  width: 50%;
}
