.logomarca {
  width: 200px;
  border-radius: 10px;
}

.container-formulario {
  width: 700px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

#inputPassword6 {
  margin-bottom: 20px;
}
